
# Used to create and run the Streamlit
# machine learning prediction application.
streamlit

# Used for loading, cleaning, manipulating,and displaying the Bank Marketing dataset.
pandas

# Used for numerical calculations and arrays.
numpy

# Used to save and load trained ML models,
# scaler, and label encoders as .pkl files.
joblib

# Used to build, train, evaluate, and use the Machine Learning classification models:
# Logistic Regression
# Decision Tree
# k-Nearest Neighbors
# Naive Bayes
# Random Forest
scikit-learn


# Used for creating plots and visualizations
# during model development and analysis.
matplotlib

# Used for statistical data visualization
# during exploratory data analysis.
seaborn
